body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color:white;
}

nav{
    position: fixed;
    /* TODO @tamrkat */
    width: 100vw;
    text-align: center;
    background-color: #512e1f1c;
    animation: fadeInAnimation ease-in 3s;  /* animation for fade in */
}
/* Main Section style */
main{
    width: 100vw;
    height: 100vh;
    background-image: url('./deyof-assets/main-section-background.jpg');
    background-size:cover;
    image-rendering:crisp-edges;
    background-repeat: no-repeat;
    transition-duration: 200ms;
    background-position: center;
    animation: fadeInAnimation ease-in 1s;
}
.main-text{
    color: #FFF;
    width: 50vw;
    padding:25vh 0 0 4vw;
    line-break:loose;
    text-transform: uppercase;
    font-size: 20px;
    animation: fadeInAnimation ease-out 2s;
}





/* Btn Style  */
.btn{
    width: 184px;
    height: 60px;
    border-radius: 17px;
    background: #512E1F;
    color:white;
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight:normal;
    border: none;
    transition: ease-in-out;
    transition-duration: 200ms;
    animation: fadeInAnimation ease-out 2s;
}
.btn:hover{
    background: rgba(51, 29, 19, 0.281);
    color:white;
    border-radius: 30px;
    transition: ease-in-out;
    transition-duration: 200ms;
}

/* Fade In Animation  */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  