body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color:white;
}

/* Nav bar */

nav{
    position: absolute;
    /* ==> TODO @tamrkat */
    width: 100vw;
    text-align: center;
    background-color: #512e1f1c;
    animation: fadeInAnimation ease-in 3s;  /* animation for fade in */
}


/* Main Section style */
main{
    width: 100vw;
    height: 100vh;
    background-image: url('./deyof-assets/main-section-background.jpg');
    background-size:cover;
    image-rendering:crisp-edges;
    background-repeat: no-repeat;
    transition-duration: 200ms;
    background-position: center;
    animation: fadeInAnimation ease-in 1s;
}
.main-text{
    color: #FFF;
    width: 50vw;
    padding:25vh 0 0 10vw;
    line-break:loose;
    text-transform: uppercase;
    font-size: 35px;
    animation: fadeInAnimation ease-out 2s;
}

/* About Section */
/* ==> TODO @ tamkat */


/* Pick Your Coffee  */
.silder-btn{
    display: flex;
    justify-content: space-between;
}
.silder-btn>h1{
    color: black;
    font-weight: 800;
    font-size: 50px;
    margin: 0;
}
.cards{
    position: sticky;
    top: 0;
    height: 350px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-left: 24px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 40px;
    background-color: transparent;
}
.card{
    text-align: center;
}
div.card>div:not(.price){
    background-color: #3e230e;
    width: 300px;
    height: 250px;
    padding: 10px;
    padding-top: 40px;
    border-radius: 20px;
    box-shadow:  14px 19px 62px 15px #0000001a;
}
.card>div>img{
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit:contain;
}
h2.coffee{
    font-weight:bold;
    font-size: 30px;
}
div.price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button.buy{
    width: fit-content;
    height: fit-content;
    font-size: 13px;
    padding: 10px;
}
p.price{
    color: black;
    font-weight: 700;
}

/* Footer */


/* Btns Style  */
.btn{
    width: 184px;
    height: 60px;
    border-radius: 17px;
    background-color: #3E230E;
    color:white;
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight:normal;
    border: none;
    transition: ease-in-out;
    transition-duration: 200ms;
    animation: fadeInAnimation ease-out 2s;
}
.right-arrow, .left-arrow{
    display: block;
    width:50px;
    height:50px;
    background-color: #63493e;
    margin: 10px;
    border-radius: 50px;
    border: none;
    z-index: 3;
}
.right-arrow::after{
    content: '';
    position: absolute;
    background-image: url('./deyof-assets/rightArrow.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    margin: 15px 0 0 15px;
}
.left-arrow::after{
    content: '';
    position: absolute;
    background-image: url('./deyof-assets/left-arrow.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    margin: 15px 0 0 15px;
}
.btn:hover, .left-arrow:hover, .right-arrow:hover{
    background: #512e1fb7;
    color:white;
    transition: ease-in-out;
    transition-duration: 200ms;
}

/* Fade In Animation  */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  